<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT AboutUs ANY>
<!ATTLIST AboutUs id ID #REQUIRED>
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-26T10:50:17" updateDate="2014-02-26T11:11:33" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="Homepage">
    <metaTitle><![CDATA[CHEGG group ]]></metaTitle>
    <metaDescription><![CDATA[CHEGG group ]]></metaDescription>
    <pageTitle>CHEGG group </pageTitle>
    <leadText><![CDATA[Het Center for Journalism Studies is een onderzoekscentrum binnen de vakgroep communicatiewetenschappen van de Universiteit Gent. Sinds 2007 bundelen en versterken we het onderzoek naar actuele ontwikkelingen binnen de journalistiek, en het onderwijs over 'journalism studies'.

We staan open voor samenwerking met onderzoekers van andere onderzoeksgroepen, zowel nationaal als internationaal. Op die manier willen we een multidisciplinair centrum zijn voor onderzoek rond journalistiek en nieuwsproductie.;]]></leadText>
    <AboutUs id="1057" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2014-02-26T14:20:34" updateDate="2014-02-26T15:15:14" nodeName="About Us" urlName="about-us" path="-1,1048,1057" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="AboutUs">
      <metaTitle><![CDATA[About Us]]></metaTitle>
      <metaDescription><![CDATA[About Us]]></metaDescription>
      <pageTitle>About Us</pageTitle>
      <aboutDescription><![CDATA[<p class="section-paragraph">Het Center for Journalism Studies is een van de vier onderzoekscentra binnen de vakgroep communicatiewetenschappen van de Universiteit Gent.</p>
<p class="section-paragraph">Sinds 2007 bundelen en versterken we het onderzoek naar actuele ontwikkelingen binnen de journalistiek, en het onderwijs over journalism studies.</p>
<p class="section-paragraph">We willen het bestaande onderzoeksprogramma uitbreiden tot een brede waaier van theoretische, praktische en technische aspecten van journalistiek, nieuwsproductie en politieke communicatie.</p>
<p class="section-paragraph">Momenteel staat professor dr. <a href="http://www.cjs.ugent.be/about_us.html">Raeymaeckers</a> aan het hoofd van de onderzoeksgroep.</p>]]></aboutDescription>
      <subTitle>Onderzoek naar actuele ontwikkelingen binnen de journalistiek</subTitle>
      <aboutTheTeam><![CDATA[<p><span>Het Center for Journalism Studies wordt geleid door Prof. dr. Raeymaeckers en telt 14 onderzoekers.</span></p>]]></aboutTheTeam>
      <aboutTeamTitle>The Team</aboutTeamTitle>
      <aboutImage>
        <DAMP fullMedia="">
          <mediaItem>
            <AboutImage id="1064" version="4ba6bc11-55b9-428f-ab5d-da0186ebc0bc" parentID="1060" level="3" writerID="0" nodeType="1061" template="0" sortOrder="0" createDate="2014-02-26T14:47:22" updateDate="2014-02-26T14:47:23" nodeName="researchers-center-for-journalism-studies" urlName="researchers-center-for-journalism-studies" writerName="admin" nodeTypeAlias="AboutImage" path="-1,1059,1060,1064">
              <umbracoFile>/media/1001/researchers-center-for-journalism-studies.jpg</umbracoFile>
              <umbracoWidth>470</umbracoWidth>
              <umbracoHeight>326</umbracoHeight>
              <umbracoBytes>40053</umbracoBytes>
              <umbracoExtension>jpg</umbracoExtension>
              <aboutCrop>
                <crops date="2014-02-26T14:47:22">
                  <crop name="aboutCrop" x="0" y="0" x2="470" y2="326" url="/media/1001/researchers-center-for-journalism-studies_aboutCrop.jpg" />
                </crops>
              </aboutCrop>
            </AboutImage>
          </mediaItem>
        </DAMP>
      </aboutImage>
    </AboutUs>
  </Homepage>
</root>