<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT AboutUs ANY>
<!ATTLIST AboutUs id ID #REQUIRED>
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT MemberItem ANY>
<!ATTLIST MemberItem id ID #REQUIRED>
<!ELEMENT MembersArea ANY>
<!ATTLIST MembersArea id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-26T10:50:17" updateDate="2014-02-28T08:42:16" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="Homepage">
    <AboutUs id="1057" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2014-02-26T14:20:34" updateDate="2014-02-27T16:12:18" nodeName="About Us" urlName="about-us" path="-1,1048,1057" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="AboutUs">
      <MembersArea id="1067" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2014-02-26T15:32:34" updateDate="2014-02-27T11:02:03" nodeName="Members" urlName="members" path="-1,1048,1057,1067" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="MembersArea">
        <umbracoNaviHide>1</umbracoNaviHide>
        <MemberItem id="1069" parentID="1067" level="4" creatorID="0" sortOrder="2" createDate="2014-02-26T15:38:57" updateDate="2014-02-28T09:02:28" nodeName="jelena brankovic" urlName="jelena-brankovic" path="-1,1048,1057,1067,1069" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="3082" nodeTypeAlias="MemberItem">
          <metaTitle><![CDATA[Jelena Brankovic]]></metaTitle>
          <metaDescription><![CDATA[Jelena Brankovic]]></metaDescription>
          <memberBio><![CDATA[Annelore Deprez is doctor-assistent bij de vakgroep Communicatiewetenschappen en lesgever van de vakken 'Academisch Rapporteren in de Communicatiewetenschap' en 'Actuele Aspecten van de Journalistiek'. Haar onderzoekexpertise in journalism studies betreft de inhoudelijke aspecten van de boodschap en politieke communicatie. In haar doctoraatsonderzoek 'Internationale conflictberichtgeving in de Vlaamse geschreven pers: een longitudinale framing- en representatieanalyse van de Eerste en Tweede Intifada' ontwikkelde ze een meetinstrument voor longitudinaal framingonderzoek.]]></memberBio>
          <memberName>Jelena Brankovic</memberName>
          <memberEmail>jelena.brankovic@ugent.be</memberEmail>
          <memberTelephone>32 9 264 68 87</memberTelephone>
          <memberFax>32 9 264 69 92</memberFax>
          <memberAddress>Korte Meer 7-9-11, 9000 Gent, Belgium</memberAddress>
          <memberImage>
            <DAMP fullMedia="">
              <mediaItem>
                <MemberImage id="1077" version="0c899622-d9c1-4406-a3a1-8a394d3d4cf2" parentID="1073" level="3" writerID="0" nodeType="1074" template="0" sortOrder="0" createDate="2014-02-26T16:07:02" updateDate="2014-02-27T13:49:53" nodeName="sarah-vanleuven" urlName="sarah-vanleuven" writerName="admin" nodeTypeAlias="MemberImage" path="-1,1059,1073,1077">
                  <umbracoFile>/media/1002/sarah-vanleuven.jpg</umbracoFile>
                  <umbracoWidth>262</umbracoWidth>
                  <umbracoHeight>262</umbracoHeight>
                  <umbracoBytes>25190</umbracoBytes>
                  <umbracoExtension>jpg</umbracoExtension>
                  <memberCrop>
                    <crops date="2014-02-26T16:07:02">
                      <crop name="memberCrop" x="0" y="0" x2="262" y2="262" url="/media/1002/sarah-vanleuven_memberCrop.jpg" />
                    </crops>
                  </memberCrop>
                </MemberImage>
              </mediaItem>
            </DAMP>
          </memberImage>
          <memberCategory><![CDATA[PhD Student]]></memberCategory>
          <uGentId>801001980978</uGentId>
        </MemberItem>
        <MemberItem id="2077" parentID="1067" level="4" creatorID="0" sortOrder="2" createDate="2014-02-27T15:24:16" updateDate="2014-02-28T09:09:10" nodeName="jelle mampaey" urlName="jelle-mampaey" path="-1,1048,1057,1067,2077" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="3082" nodeTypeAlias="MemberItem">
          <metaTitle><![CDATA[Jelle Mampaey]]></metaTitle>
          <metaDescription><![CDATA[Jelle Mampaey]]></metaDescription>
          <memberBio><![CDATA[Jelle Mampaey is als ZAP-BOF professor verbonden aan de vakgroep Communicatiewetenschappen (UGent) en is naast deze onderzoeksgroep ook lid van het Centre for Cinema and Media Studies (CIMS, UGent) en 'Interdisciplinair Taal en Media Forum' van de AUGent. Gedurende 2010 en 2011 doceerde Joye aan de Erasmus Universiteit te Rotterdam. In 2012 was hij 'Visiting Fellow' aan de London School of Economics and Political Science. Sindsdien is hij tevens lid van de stuurgroep van het Steunpunt Media van de Vlaamse overheid. ]]></memberBio>
          <memberName>Jelle Mampaey</memberName>
          <memberEmail>jelle.mampaey@ugent.be</memberEmail>
          <memberTelephone>+32 9 264 68 92</memberTelephone>
          <memberFax />
          <memberAddress>Address: Korte Meer 7-9-11, 9000 Gent, Belgium</memberAddress>
          <memberImage>
            <DAMP fullMedia="">
              <mediaItem>
                <MemberImage id="2080" version="5c4cdab9-454d-44c3-b804-739400f7f8bf" parentID="1073" level="3" writerID="0" nodeType="1074" template="0" sortOrder="3" createDate="2014-02-27T15:37:56" updateDate="2014-02-27T15:37:56" nodeName="dirk_voorhoof" urlName="dirk_voorhoof" writerName="admin" nodeTypeAlias="MemberImage" path="-1,1059,1073,2080">
                  <umbracoFile>/media/1005/dirk_voorhoof.jpg</umbracoFile>
                  <umbracoWidth>262</umbracoWidth>
                  <umbracoHeight>262</umbracoHeight>
                  <umbracoBytes>17100</umbracoBytes>
                  <umbracoExtension>jpg</umbracoExtension>
                  <memberCrop>
                    <crops date="2014-02-27T15:37:56">
                      <crop name="memberCrop" x="0" y="0" x2="262" y2="262" url="/media/1005/dirk_voorhoof_memberCrop.jpg" />
                    </crops>
                  </memberCrop>
                </MemberImage>
              </mediaItem>
            </DAMP>
          </memberImage>
          <memberCategory><![CDATA[PhD Student]]></memberCategory>
          <uGentId>801001806681</uGentId>
        </MemberItem>
        <MemberItem id="2079" parentID="1067" level="4" creatorID="0" sortOrder="3" createDate="2014-02-27T15:35:49" updateDate="2014-02-28T09:09:13" nodeName="marco seeber" urlName="marco-seeber" path="-1,1048,1057,1067,2079" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="3082" nodeTypeAlias="MemberItem">
          <metaTitle><![CDATA[Marco Seeber]]></metaTitle>
          <metaDescription><![CDATA[Marco Seeber]]></metaDescription>
          <memberBio><![CDATA[some bio stuff]]></memberBio>
          <memberName>Marco Seeber</memberName>
          <memberEmail>marco.seeber@ugent.be</memberEmail>
          <memberTelephone>+32 475 75 19 38</memberTelephone>
          <memberFax>+32 9 264 69 92</memberFax>
          <memberAddress>Korte Meer 7-9-11, 9000 Gent, Belgium</memberAddress>
          <memberImage>
            <DAMP fullMedia="">
              <mediaItem>
                <MemberImage id="2078" version="081112d8-4b9f-4b4e-b388-baed7f999caf" parentID="1073" level="3" writerID="0" nodeType="1074" template="0" sortOrder="2" createDate="2014-02-27T15:26:15" updateDate="2014-02-27T15:26:15" nodeName="stijn-joye" urlName="stijn-joye" writerName="admin" nodeTypeAlias="MemberImage" path="-1,1059,1073,2078">
                  <umbracoFile>/media/1004/stijn-joye.jpg</umbracoFile>
                  <umbracoWidth>262</umbracoWidth>
                  <umbracoHeight>262</umbracoHeight>
                  <umbracoBytes>7542</umbracoBytes>
                  <umbracoExtension>jpg</umbracoExtension>
                  <memberCrop>
                    <crops date="2014-02-27T15:26:15">
                      <crop name="memberCrop" x="0" y="0" x2="262" y2="262" url="/media/1004/stijn-joye_memberCrop.jpg" />
                    </crops>
                  </memberCrop>
                </MemberImage>
              </mediaItem>
            </DAMP>
          </memberImage>
          <memberCategory><![CDATA[PhD Student]]></memberCategory>
          <uGentId>801000461819</uGentId>
        </MemberItem>
        <MemberItem id="1071" parentID="1067" level="4" creatorID="0" sortOrder="3" createDate="2014-02-26T15:43:17" updateDate="2014-02-28T09:09:15" nodeName="jeroen huisman" urlName="jeroen-huisman" path="-1,1048,1057,1067,1071" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="3082" nodeTypeAlias="MemberItem">
          <metaTitle><![CDATA[Jeroen Huisman]]></metaTitle>
          <metaDescription><![CDATA[Jeroen Huisman]]></metaDescription>
          <memberBio><![CDATA[Jeroen Huisman is hoogleraar aan de Universiteit Gent en de Universiteit van Kopenhagen waar hij o.a. de vakken mediarecht, auteursrecht en journalistieke ethiek doceert. Hij is lid van de Vlaamse Regulator voor de Media, alsook van het redactiecomité van Auteurs en Media. Sedert enkele jaren is hij tevens actief als expert voor de Raad van Europa, Directoraat Mensenrechten, voor de analyse en begeleiding van de mediawetgeving in ‘nieuwe’ lidstaten. Daarnaast is hij editor van ‘Het journalistiek bronnengeheim onthuld’ (Die Keure, 2007), “Vijf jaar Raad. Een balans” (2007) en auteur van o.a. Handboek Mediarecht (Larcier) en Wetboek Media en Journalistiek (Kluwer, i.s.m. F. Voets en E. Brewaeys).]]></memberBio>
          <memberName>Jeroen Huisman</memberName>
          <memberEmail>jeroen.huisman@ugent.be</memberEmail>
          <memberTelephone>32 9 264 68 82</memberTelephone>
          <memberFax>32 9 264 69 92</memberFax>
          <memberAddress>Korte Meer 7-9-11, 9000 Gent, Belgium</memberAddress>
          <memberImage>
            <DAMP fullMedia="">
              <mediaItem>
                <MemberImage id="2075" version="0ae72547-5a3b-4d20-b7ad-ec639848818c" parentID="1073" level="3" writerID="0" nodeType="1074" template="0" sortOrder="1" createDate="2014-02-27T09:25:21" updateDate="2014-02-27T13:50:25" nodeName="jeroen-de-keyser" urlName="jeroen-de-keyser" writerName="admin" nodeTypeAlias="MemberImage" path="-1,1059,1073,2075">
                  <umbracoFile>/media/1003/jeroen-de-keyser.jpg</umbracoFile>
                  <umbracoWidth>262</umbracoWidth>
                  <umbracoHeight>262</umbracoHeight>
                  <umbracoBytes>30412</umbracoBytes>
                  <umbracoExtension>jpg</umbracoExtension>
                  <memberCrop>
                    <crops date="2014-02-27T09:25:21">
                      <crop name="memberCrop" x="0" y="0" x2="262" y2="262" url="/media/1003/jeroen-de-keyser_memberCrop.jpg" />
                    </crops>
                  </memberCrop>
                </MemberImage>
              </mediaItem>
            </DAMP>
          </memberImage>
          <memberCategory><![CDATA[Professor]]></memberCategory>
          <uGentId />
        </MemberItem>
        <MemberItem id="2081" parentID="1067" level="4" creatorID="0" sortOrder="4" createDate="2014-02-27T15:39:11" updateDate="2014-02-28T09:09:18" nodeName="lisa brockerhoff" urlName="lisa-brockerhoff" path="-1,1048,1057,1067,2081" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="3082" nodeTypeAlias="MemberItem">
          <metaTitle><![CDATA[Lisa Brockerhoff]]></metaTitle>
          <metaDescription><![CDATA[Lisa Brockerhoff]]></metaDescription>
          <memberBio><![CDATA[Lisa Brockerhoff doet sinds 2010 onderzoek binnen het kader van Erasmus Mundus Action II. Haar onderzoek bevindt zich binnen het domein van de credibility studies en focust op de betrouwbaarheid van internationale mediaorganisaties, in het bijzonder met het oog op een vergelijking tussen BBC en CNN]]></memberBio>
          <memberName>Lisa Brockerhoff</memberName>
          <memberEmail>lisa.brockerhoff@ugent.be</memberEmail>
          <memberTelephone>32 9 264 69 92</memberTelephone>
          <memberFax>32 9 264 69 92</memberFax>
          <memberAddress>Korte Meer 7-9-11, 9000 Gent, Belgium</memberAddress>
          <memberImage>
            <DAMP fullMedia="">
              <mediaItem>
                <MemberImage id="2082" version="4e31b708-5aee-422b-9f7e-6876acc4f193" parentID="1073" level="3" writerID="0" nodeType="1074" template="0" sortOrder="4" createDate="2014-02-27T15:41:15" updateDate="2014-02-27T15:41:15" nodeName="mao-xi" urlName="mao-xi" writerName="admin" nodeTypeAlias="MemberImage" path="-1,1059,1073,2082">
                  <umbracoFile>/media/1006/mao-xi.jpg</umbracoFile>
                  <umbracoWidth>262</umbracoWidth>
                  <umbracoHeight>262</umbracoHeight>
                  <umbracoBytes>41103</umbracoBytes>
                  <umbracoExtension>jpg</umbracoExtension>
                  <memberCrop>
                    <crops date="2014-02-27T15:41:15">
                      <crop name="memberCrop" x="0" y="0" x2="262" y2="262" url="/media/1006/mao-xi_memberCrop.jpg" />
                    </crops>
                  </memberCrop>
                </MemberImage>
              </mediaItem>
            </DAMP>
          </memberImage>
          <memberCategory><![CDATA[PhD Student]]></memberCategory>
          <uGentId />
        </MemberItem>
      </MembersArea>
      <metaTitle><![CDATA[About Us]]></metaTitle>
      <metaDescription><![CDATA[About Us]]></metaDescription>
      <pageTitle>About Us</pageTitle>
      <aboutDescription><![CDATA[<p>Centre for Higher Education Governance Ghent (CHEGG) is a research centre established with the aim to contribute to the scholarly understanding of governance in higher education, both on macro (system) and meso (institutional) levels.</p>
<p>The understanding is expected to improve primarily through in-depth, theory-based investigations of aspects of governance, but also through focusing on practical aspects and improving policy and institutional practice. CHEGG seeks both to strengthen the idea of higher education as a distinct field of study and to maintain a dynamic dialogue between the field of higher education and those of (organizational) sociology, political sciences, public administration and business administration.</p>
<p>CHEGG is part of the Department of Sociology at the Faculty for Political and Social Sciences of the Ghent University and it was established in 2013.</p>]]></aboutDescription>
      <subTitle>We research the governance of higher eduction</subTitle>
      <aboutTheTeam><![CDATA[<p>Het Center for Journalism Studies wordt geleid door Prof. dr. Raeymaeckers en telt 14 onderzoekers.</p>]]></aboutTheTeam>
      <aboutTeamTitle>Meet The Team</aboutTeamTitle>
      <aboutImage>
        <DAMP fullMedia="">
          <mediaItem>
            <AboutImage id="1064" version="4ba6bc11-55b9-428f-ab5d-da0186ebc0bc" parentID="1060" level="3" writerID="0" nodeType="1061" template="0" sortOrder="0" createDate="2014-02-26T14:47:22" updateDate="2014-02-26T14:47:23" nodeName="researchers-center-for-journalism-studies" urlName="researchers-center-for-journalism-studies" writerName="admin" nodeTypeAlias="AboutImage" path="-1,1059,1060,1064">
              <umbracoFile>/media/1001/researchers-center-for-journalism-studies.jpg</umbracoFile>
              <umbracoWidth>470</umbracoWidth>
              <umbracoHeight>326</umbracoHeight>
              <umbracoBytes>40053</umbracoBytes>
              <umbracoExtension>jpg</umbracoExtension>
              <aboutCrop>
                <crops date="2014-02-26T14:47:22">
                  <crop name="aboutCrop" x="0" y="0" x2="470" y2="326" url="/media/1001/researchers-center-for-journalism-studies_aboutCrop.jpg" />
                </crops>
              </aboutCrop>
            </AboutImage>
          </mediaItem>
        </DAMP>
      </aboutImage>
    </AboutUs>
    <metaTitle><![CDATA[CHEGG group ]]></metaTitle>
    <metaDescription><![CDATA[CHEGG group ]]></metaDescription>
    <pageTitle>Centre for Higher Education Governance Ghent </pageTitle>
    <leadText><![CDATA[Centre for Higher Education Governance Ghent (CHEGG) is a research centre established with the aim to contribute to the scholarly understanding of governance in higher education. CHEGG focuses on macro (system) and meso (institutional) levels to governance, while striving to maintain a dynamic dialogue between the field of higher education and those of (organizational) sociology, political sciences, public administration and business administration.

CHEGG is part of the Department of Sociology at the Faculty for Political and Social Sciences of the Ghent University and it was established in 2013.
]]></leadText>
  </Homepage>
</root>